@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.bg-hero {
    background-color: #DFE4F1;
}

body {
    font-family: 'Manrope', sans-serif;
}

.f-lg {
    font-weight: 800;
}

.f-md {
    font-weight: 500;
}

.font-3 {
    font-size: 3.75rem;
}

.h-3 {
    height: 3.75rem;
}

.w-3 {
    width: 3.75rem;
}

.btn-orange {
    background-color: #FF7F5C;
}

/*Boostrap override classes*/
.btn-primary {
    background-color: #3734A9;
    border-color: #3734A9;
}

.btn-primary:hover {
    background-color: #2f2c89;
    border-color: #2f2c89;
}

.text-primary {
    color: #3734A9;
}

.bg-success {
    background-color: #22D497;
}

.btn-success {
    background-color: #22D497;
    border-color: #22D497;
}

.mt-minus {
    margin-top: -3.7rem;
}

.ml-minus {
    margin-left: -9rem;
}

.bg-milk {
    background-color: #F8F9FD;
}

.bold {
    font-weight: bold;
}

.b-1 {
    border: 1px solid #DFDFDF;
}

.link {
    text-decoration: none;
}

.mt-half {
    margin-top: 18%;
}

.mt-minus-1 {
    margin-top: -1rem;
}

.mt-05 {
    margin-top: -1rem;
}

.small {
    font-size: small;
}

.bg-primary1 {
    background-color: #3734A9;
}


.mvt-5 {
    margin-top: -8rem;
}

.mvl-5 {
    margin-left: 16rem;
}